<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Bill Detail</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Detail
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <router-link
                  :to="{
                    name: 'Dashboard Finance Bill',
                  }"
                  class="btn btn-sm btn-neutral"
                  ><i class="fas fa-arrow-left"></i> Back</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="bill == null">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-lg-12 text-left">
            <div
              class="alert alert-info alert-dismissible fade show"
              role="alert"
            >
              {{
                bill.status_transaction != null
                  ? bill.status_transaction.status_message
                  : bill.bill.status == 2
                  ? "PAYMENT SUCCESS"
                  : "NO PAYMENT SELECTED"
              }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body text-left p-4">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Order ID
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      bill.bill.transaction_code
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-id-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body text-left p-4">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Amount
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      bill.bill.price_formatted
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-coins"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body text-left p-4">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Payment Method
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      bill.status_transaction != null
                        ? bill.status_transaction.payment_type
                            .replace("_", " ")
                            .toUpperCase()
                        : bill.bill.status == 2
                        ? "CASH"
                        : "-"
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-credit-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body text-left p-4">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Status Transaction
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      bill.status_transaction != null
                        ? bill.status_transaction.transaction_status.toUpperCase()
                        : bill.bill.status == 2
                        ? "PAYMENT SUCCESS"
                        : "NO PAYMENT SELECTED"
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-info
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-left">
              <div class="card-header">Detail Order</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Order ID : {{ bill.bill.transaction_code }}
                </li>
                <li class="list-group-item">
                  Payment Method :
                  {{
                    bill.status_transaction != null
                      ? bill.status_transaction.payment_type
                          .replace("_", " ")
                          .toUpperCase()
                      : bill.bill.status == 2
                      ? "CASH"
                      : "-"
                  }}
                </li>
                <li class="list-group-item">
                  Amount : {{ bill.bill.price_formatted }}
                </li>
                <li class="list-group-item">
                  Time :
                  {{
                    bill.status_transaction != null &&
                    ["settlement", "capture"].includes(
                      bill.status_transaction.transaction_status
                    )
                      ? bill.status_transaction.settlement_time
                      : bill.bill.status == 2
                      ? bill.bill.paid_at
                      : "-"
                  }}
                </li>
                <li class="list-group-item">
                  Status :
                  {{
                    bill.status_transaction != null
                      ? bill.status_transaction.transaction_status.toUpperCase()
                      : "-"
                  }}
                </li>
                <li class="list-group-item">
                  Description :
                  {{ bill.bill.description }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-left">
              <div class="card-header">Detail Pelanggan</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Name : {{ bill.bill.packet_user.user.name }}
                </li>
                <li class="list-group-item">
                  Phone : {{ bill.bill.packet_user.user.phone }}
                </li>
                <li class="list-group-item">
                  E-Mail : {{ bill.bill.packet_user.user.email }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-left">
              <div class="card-header">Detail Pembayaran</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Virtual Account :
                  {{
                    bill.status_transaction != null &&
                    ["settlement", "capture"].includes(
                      bill.status_transaction.transaction_status
                    ) &&
                    ["bank_transfer"].includes(
                      bill.status_transaction.payment_type
                    )
                      ? bill.status_transaction.va_numbers[0].va_number
                      : "-"
                  }}
                </li>
                <li class="list-group-item">
                  Acquiring Bank :
                  {{
                    bill.status_transaction != null &&
                    ["settlement", "capture"].includes(
                      bill.status_transaction.transaction_status
                    ) &&
                    ["bank_transfer"].includes(
                      bill.status_transaction.payment_type
                    )
                      ? bill.status_transaction.va_numbers[0].bank.toUpperCase()
                      : "-"
                  }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import $ from "jquery";

export default {
  data() {
    return {
      bill: null,
    };
  },
  methods: {
    //
  },
  mounted() {
    axios
      .get(
        `${this.$store.state.baseUrl}finance/bill/${this.$route.params.id}`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.bill = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
