<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">List Bill</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Bill
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <button
                  class="btn btn-sm btn-neutral"
                  @click="addMonthlyBill()"
                  :disabled="loading"
                >
                  <LoadingButton v-if="loading" />
                  <div v-else><i class="fas fa-plus"></i> Add Monthly Bill</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6" v-if="bills != null">
        <div class="row" v-if="bills.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <v-date-picker
                    v-model="range"
                    is-range
                    class="col-lg-4 mb-4"
                    :masks="masks"
                  >
                    <template v-slot="{ inputValue, inputEvents }">
                      <div class="d-flex align-items-center">
                        <input
                          :value="inputValue.start"
                          v-on="inputEvents.start"
                          placeholder="From"
                          class="
                            border
                            px-2
                            py-1
                            w-32
                            rounded
                            focus:outline-none focus:border-indigo-300
                            form-control
                          "
                        />
                        <i class="fas fa-arrow-right mx-2"></i>
                        <input
                          :value="inputValue.end"
                          v-on="inputEvents.end"
                          placeholder="To"
                          class="
                            border
                            px-2
                            py-1
                            w-32
                            rounded
                            focus:outline-none focus:border-indigo-300
                            form-control
                          "
                        />
                      </div>
                    </template>
                  </v-date-picker>
                  <div class="form-group col-lg-2">
                    <select
                      class="form-control"
                      aria-label="Default select example"
                      v-model="filter.type"
                    >
                      <option value="" selected>Choose Type</option>
                      <option value="">ALL</option>
                      <option value="MONTHLY">MONTHLY</option>
                      <option value="OTHER">OTHER</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      v-model="filter.name"
                    />
                  </div>
                  <div class="form-group col-lg-6 text-left">
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Filter
                    </button>
                    <button
                      class="btn btn-danger"
                      type="button"
                      @click="clearFilter"
                    >
                      Clear
                    </button>
                    <button class="btn btn-primary" @click="print">
                      Export
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Transaction Code</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Type</th>
                      <th>Created At</th>
                      <th>Paid At</th>
                      <th>Status</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr v-for="(bill, index) in bills.data" :key="index">
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ bill.transaction_code }}
                        </td>
                        <td class="text-center">
                          {{ bill.packet_user.user.name }}
                        </td>
                        <td class="text-center" :title="bill.description">
                          {{ bill.description_formatted }}
                        </td>
                        <td class="text-center">{{ bill.price_formatted }}</td>
                        <td class="text-center">{{ bill.type }}</td>
                        <td class="text-center">
                          {{ bill.created_at_formatted }}
                        </td>
                        <td class="text-center">
                          {{ bill.paid_at ? bill.paid_at : "-" }}
                        </td>
                        <td :class="['text-center']">
                          <span
                            :class="[
                              'badge text-white',
                              [0].includes(bill.status)
                                ? 'bg-info'
                                : [1].includes(bill.status)
                                ? 'bg-warning'
                                : [2, 7]
                                ? 'bg-success'
                                : 'bg-danger',
                            ]"
                          >
                            {{ bill.status_formatted }}
                          </span>
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-success btn-sm"
                            @click="payment(bill)"
                            :disabled="[2, 7].includes(bill.status)"
                          >
                            <i class="fas fa-money-bill-wave"></i>
                          </button>
                          <router-link
                            :to="{
                              name: 'Dashboard Finance Bill Detail',
                              params: { id: bill.id },
                            }"
                            class="btn btn-primary btn-sm"
                            :disabled="[0].includes(bill.status)"
                          >
                            <i class="fas fa-eye"></i>
                          </router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="bills.data.length > 0"
                    :data="bills"
                    ammount="bill"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
// import $ from "jquery";

export default {
  data() {
    return {
      filter: {
        type: "",
        name: "",
        is_paid: "",
      },
      bills: {
        data: [],
      },
      packet_user: null,
      loading: false,
      range: {
        start: "",
        end: "",
      },
      masks: {
        input: "YYYY-MM-DD",
      },
      json_fields: {
        Name: "packet_user.user.name",
        Email: "packet_user.user.email",
        Phone: "packet_user.user.phone",
        "Transaction Code": "transaction_code",
        Description: "description",
        Type: "type",
        Status: "status_formatted",
        "Created At": "created_at",
        "Paid At": "paid_at",
        Price: "price",
      },
      json_data: [],
    };
  },
  methods: {
    clearFilter() {
      this.filter = {
        type: "",
        name: "",
      };
      this.range = {
        start: "",
        end: "",
      };
    },
    navigation(url) {
      if (url) {
        this.bills = {
          data: [],
        };
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.bills = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.bills = {
        data: [],
      };
      this.json_data = [];
      let start = this.range.start
        ? moment(this.range.start).format("YYYY-MM-DD")
        : "";
      let end = this.range.end
        ? moment(this.range.end).format("YYYY-MM-DD")
        : "";

      axios
        .get(
          `${this.$store.state.baseUrl}finance/bill?from=${start}&to=${end}&type=${this.filter.type}&is_paid=${this.filter.is_paid}&name=${this.filter.name}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.bills = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    print() {
      let start = this.range.start
        ? moment(this.range.start).format("YYYY-MM-DD")
        : "";
      let end = this.range.end
        ? moment(this.range.end).format("YYYY-MM-DD")
        : "";
      let routeData = this.$router.resolve({
        name: "Dashboard Finance Bill Pdf Export",
        query: {
          start: start,
          end: end,
          type: this.filter.type,
          is_paid: this.filter.is_paid,
          name: this.filter.name,
        },
      });
      window.open(routeData.href, "_blank");
    },
    payment(data) {
      console.log(data);
    },
    addMonthlyBill() {
      this.loading = true;
      axios
        .post(
          `${this.$store.state.baseUrl}finance/bill`,
          {},
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.$swal({
            title: "Success",
            text: response.data.message,
            icon: "success",
          }).then(() => {
            this.loading = false;
            window.location.reload();
          });
        })
        .catch((error) => {
          this.loading = false;
          this.$swal({
            title: "Failed",
            text: error.response.data.message,
            icon: "error",
          });
        });
    },
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}finance/bill?is_paid=paid`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.bills = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
