<template>
  <div class="p-3">
    <div>
      <h1>HELES MEDIA NETWORK</h1>
      <h2>LAPORAN PENDAPATAN</h2>
      <h3 v-if="$route.query.start && $route.query.end">
        Periode : {{ convertDate($route.query.start) }} -
        {{ convertDate($route.query.end) }}
      </h3>
      <h3 v-else>Periode : Tidak ditentukan</h3>
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Transaction Code</th>
            <th>Description</th>
            <th>Type</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Paid At</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(bill, index) in data" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ bill.packet_user.user.name }}</td>
            <td>{{ bill.packet_user.user.email }}</td>
            <td>{{ bill.packet_user.user.phone }}</td>
            <td>{{ bill.transaction_code }}</td>
            <td>{{ bill.description_formatted }}</td>
            <td>{{ bill.type }}</td>
            <td>{{ bill.status }}</td>
            <td>{{ bill.created_at_formatted }}</td>
            <td>{{ bill.paid_at }}</td>
            <td>{{ bill.price }}</td>
          </tr>
          <tr class="bg-success text-white">
            <td colspan="10">Total</td>
            <td>{{ total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="d-print-none">Total row : {{ data.length }}</p>
    <button class="btn btn-primary d-print-none" @click="print">
      <i class="fas fa-print"></i> Print
    </button>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
// import $ from "jquery";

export default {
  data() {
    return {
      data: [],
      total: 0,
    };
  },
  methods: {
    print() {
      window.print();
    },
    convertDate(date) {
      moment.locale("id");
      return moment(date).format("LL");
    },
  },
  mounted() {
    let start = this.$route.query.start
      ? moment(this.$route.query.start).format("YYYY-MM-DD")
      : "";
    let end = this.$route.query.end
      ? moment(this.$route.query.end).format("YYYY-MM-DD")
      : "";
    axios
      .get(
        `${
          this.$store.state.baseUrl
        }finance/bill/export?from=${start}&to=${end}&type=${
          this.$route.query.type ? this.$route.query.type : ""
        }&is_paid=paid&name=${
          this.$route.query.name ? this.$route.query.name : ""
        }`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.data = response.data.data;
        response.data.data.forEach((bill) => {
          this.total += bill.price;
        });
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
