<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">
                  Bill My Packet
                </h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {{
                        packet_user == null ? "Packet" : packet_user.packet.name
                      }}
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <router-link
                  :to="{ name: 'Dashboard Customer Packet' }"
                  class="btn btn-sm btn-neutral"
                  ><i class="fas fa-arrow-left"></i> Back</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6" v-if="bills != null">
        <div class="row" v-if="bills.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Transaction Code</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Type</th>
                      <th>Created At</th>
                      <th>Paid At</th>
                      <th>Status</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr v-for="(bill, index) in bills.data" :key="index">
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ bill.transaction_code }}
                        </td>
                        <td class="text-center" :title="bill.description">
                          {{ bill.description_formatted }}
                        </td>
                        <td class="text-center">{{ bill.price_formatted }}</td>
                        <td class="text-center">{{ bill.type }}</td>
                        <td class="text-center">
                          {{ bill.created_at_formatted }}
                        </td>
                        <td class="text-center">
                          {{ bill.paid_at ? bill.paid_at : "-" }}
                        </td>
                        <td :class="['text-center']">
                          <span
                            :class="[
                              'badge text-white',
                              [0].includes(bill.status)
                                ? 'bg-info'
                                : [1].includes(bill.status)
                                ? 'bg-warning'
                                : [2, 7]
                                ? 'bg-success'
                                : 'bg-danger',
                            ]"
                          >
                            {{ bill.status_formatted }}
                          </span>
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-success btn-sm"
                            @click="payment(bill)"
                            :disabled="
                              [2, 7].includes(bill.status) || bill.price == 0
                            "
                          >
                            <i class="fas fa-money-bill-wave"></i>
                          </button>
                          <router-link
                            :to="{
                              name: 'Dashboard Customer Packet Bill Detail',
                              params: { id: $route.params.id, billId: bill.id },
                            }"
                            class="btn btn-primary btn-sm"
                            :disabled="
                              [0].includes(bill.status) || bill.price == 0
                            "
                          >
                            <i class="fas fa-eye"></i>
                          </router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="bills.data.length > 0"
                    :data="bills"
                    ammount="bill"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import $ from "jquery";

export default {
  data() {
    return {
      filter: "",
      bills: {
        data: [],
      },
      packet_user: null,
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.bills = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.bills = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.bills = null;
      axios
        .get(
          `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}/bill?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.bills = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    payment(data) {
      if ([0, 4].includes(data.status)) {
        axios
          .post(
            `${this.$store.state.baseUrl}customer/payment/${data.id}`,
            {
              name: this.$store.state.dataProfile.name,
              phone: this.$store.state.dataProfile.phone,
              email: this.$store.state.dataProfile.email,
            },
            {
              headers: {
                Authorization: `${this.$store.state.tokenJwt}`,
              },
            }
          )
          .then((response) => {
            this.$swal({
              title: "Success",
              text: response.data.message,
              icon: "success",
            }).then(() => {
              window.open(response.data.data, "_blank");
            });
          })
          .catch((error) => {
            this.$swal({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      } else {
        window.open(data.payment_url, "_blank");
      }
    },
  },
  mounted() {
    axios
      .get(
        `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.packet_user = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });

    axios
      .get(
        `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}/bill`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.bills = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
