<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">
                  Schedule My Packet
                </h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {{
                        packet_user == null ? "Packet" : packet_user.packet.name
                      }}
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <router-link
                  :to="{ name: 'Dashboard Customer Packet' }"
                  class="btn btn-sm btn-neutral"
                  ><i class="fas fa-arrow-left"></i> Back</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6" v-if="schedules != null">
        <div class="row" v-if="schedules.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Date</th>
                      <th>Description</th>
                      <th>Status</th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(schedule, index) in schedules.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ schedule.date_formatted }}
                        </td>
                        <td class="text-center" :title="schedule.description">
                          {{ schedule.description_formatted }}
                        </td>
                        <td class="text-center">
                          <span
                            :class="[
                              'badge',
                              schedule.status == 0
                                ? 'bg-warning'
                                : schedule.status == 1
                                ? 'bg-info'
                                : 'bg-success',
                            ]"
                          >
                            {{ schedule.status_formatted }}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="schedules.data.length > 0"
                    :data="schedules"
                    ammount="schedule"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import $ from "jquery";

export default {
  data() {
    return {
      filter: "",
      schedules: {
        data: [],
      },
      packet_user: null,
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.schedules = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.schedules = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.schedules = null;
      axios
        .get(
          `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}/schedule?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.schedules = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    axios
      .get(
        `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.packet_user = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });

    axios
      .get(
        `${this.$store.state.baseUrl}customer/my-packet/${this.$route.params.id}/schedule`,
        {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        }
      )
      .then((response) => {
        this.schedules = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
