<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Home</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt--6">
        <div class="row text-left">
          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Activate customer
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      active_customer
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Inactivate customer
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      inactive_customer
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Rejected customer
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      rejected_customer
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xl-6 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <apexchart
                  type="line"
                  :options="options"
                  :series="series"
                ></apexchart>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6" v-if="optionPie.series.length > 0">
            <div class="card card-stats">
              <div class="card-body">
                <apexchart
                  type="donut"
                  :options="optionPie"
                  :series="optionPie.series"
                ></apexchart>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      active_customer: 0,
      inactive_customer: 0,
      rejected_customer: 0,
      options: {
        title: {
          text: "Income this year",
        },
        stroke: {
          curve: "smooth",
        },
        xaxis: {
          categories: [],
        },
        responsive: [
          {
            breakpoint: 1000,
            options: {
              plotOptions: {
                bar: {
                  horizontal: false,
                },
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },
      series: [
        {
          name: "Income this month",
          data: [],
        },
      ],
      optionPie: {
        title: {
          text: "Packets",
        },
        chart: {
          type: "donut",
        },
        series: [],
        labels: [],
        responsive: [
          {
            breakpoint: 1000,
            options: {
              legend: {
                position: "right",
              },
            },
          },
        ],
      },
    };
  },
  methods: {
    //
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}finance/dashboard`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.active_customer = response.data.data.active_customer;
        this.inactive_customer = response.data.data.inactive_customer;
        this.rejected_customer = response.data.data.rejected_customer;
        this.options.xaxis.categories = response.data.data.line_chart.xaxis;
        this.series[0].data = response.data.data.line_chart.series;
        this.optionPie.labels = response.data.data.pie_chart.labels;
        this.optionPie.series = response.data.data.pie_chart.series;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
