<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Packet User</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Packet
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div
          class="row"
          v-if="packetUsers == null || packetUsers.data.length == 0"
        >
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Customer</th>
                      <th>Packet</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(packetUser, index) in packetUsers.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ packetUser.user.name }}
                        </td>
                        <td
                          class="text-center"
                          v-html="packetUser.packet.name"
                        ></td>
                        <td class="text-center">
                          {{ packetUser.price_formatted }}
                        </td>
                        <td class="text-center">
                          <span
                            :class="[
                              'badge',
                              packetUser.status == 0
                                ? 'bg-warning'
                                : packetUser.status == 1
                                ? 'bg-success'
                                : 'bg-danger',
                            ]"
                          >
                            {{ packetUser.status_formatted }}
                          </span>
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-primary btn-sm"
                            @click="openModalDetail(packetUser)"
                          >
                            <i class="fas fa-eye"></i>
                          </button>
                          <router-link
                            class="btn btn-success btn-sm"
                            :to="{
                              name: 'Dashboard Tech Customer Schedule',
                              params: { id: packetUser.id },
                            }"
                          >
                            <i class="far fa-calendar-alt"></i>
                          </router-link>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="packetUsers.data.length > 0"
                    :data="packetUsers"
                    ammount="packet user"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5" v-if="detail != null">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="mb-3 text-left">
                    <div
                      id="mapContainer"
                      ref="hereMap"
                      style="height: 300px; width 100%;"
                    ></div>
                  </div>
                  <div class="row text-left">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <span class="font-weight-bold">Name</span><br />
                        {{ detail.user.name }}
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold">Phone / Whatsapp </span
                        ><br />
                        {{ detail.user.phone }} /
                        {{ detail.user.whatsapp }}
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold">Photo</span><br />
                        <a
                          :class="[
                            'btn btn-sm',
                            detail.user.id_card_formatted
                              ? 'btn-primary'
                              : 'btn-danger',
                          ]"
                          :href="detail.user.photo_formatted ?? '#'"
                          target="_blank"
                        >
                          <i
                            :class="[
                              'fas',
                              detail.user.id_card_formatted
                                ? 'fa-eye'
                                : 'fa-eye-slash',
                            ]"
                          ></i>
                          Show
                        </a>
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold">ID Card</span><br />
                        <a
                          :class="[
                            'btn btn-sm',
                            detail.user.id_card_formatted
                              ? 'btn-primary'
                              : 'btn-danger',
                          ]"
                          :href="detail.user.id_card_formatted ?? '#'"
                          target="_blank"
                        >
                          <i
                            :class="[
                              'fas',
                              detail.user.id_card_formatted
                                ? 'fa-eye'
                                : 'fa-eye-slash',
                            ]"
                          ></i>
                          Show
                        </a>
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold">Packet / Price</span
                        ><br />
                        {{ detail.packet.name }} /
                        {{ detail.price_formatted }}
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold">Location</span><br />
                        <a
                          class="btn btn-sm btn-primary"
                          :href="`https://www.google.com/maps/search/?api=1&query=${detail.latitude},${detail.longitude}`"
                          target="_blank"
                        >
                          <i class="fas fa-map-marker-alt"></i> Open in Maps
                        </a>
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold mr-2"
                          >Notes
                          <small class="text-danger"
                            ><strong>*Required if status REJECT</strong></small
                          ></span
                        ><br />
                        <textarea
                          name="notes"
                          id="notes"
                          cols="30"
                          rows="3"
                          v-model="detail.notes"
                          class="form-control"
                        ></textarea>
                      </li>
                      <li class="list-group-item">
                        <span class="font-weight-bold mr-2">Status</span><br />
                        <select
                          name="status"
                          class="form-select col-lg-4"
                          v-model="detail.status"
                          @change="updateStatus(detail)"
                        >
                          <option :value="0" :selected="detail.status == 0">
                            INACTIVE
                          </option>
                          <option :value="1" :selected="detail.status == 1">
                            ACTIVE
                          </option>
                          <option :value="2" :selected="detail.status == 2">
                            REJECT
                          </option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";

export default {
  data() {
    return {
      filter: "",
      packetUsers: {
        data: [],
      },
      detail: null,
      center: {
        lat: null,
        lng: null,
      },
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.packetUsers = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.packetUsers = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.packetUsers = null;
      axios
        .get(
          `${this.$store.state.baseUrl}tech/packet-user?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.packetUsers = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    openModalDetail(data) {
      data.notes = null;
      this.detail = data;

      setTimeout(() => {
        $("#modal").modal("show");

        this.center.lat = data.latitude;
        this.center.lng = data.longitude;

        setTimeout(() => {
          $("#mapContainer").empty();
          const platform = new window.H.service.Platform({
            apikey: this.$store.state.apiKeyHereMap,
          });

          this.platform = platform;
          this.initializeHereMap();
        }, 300);
      }, 100);
    },
    initializeHereMap() {
      const mapContainer = this.$refs.hereMap;
      const H = window.H;
      var maptypes = this.platform.createDefaultLayers();

      var map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 15,
        center: this.center,
      });

      addEventListener("resize", () => map.getViewPort().resize());

      // Add behavior to the map: panning, zooming, dragging.
      let behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      H.ui.UI.createDefault(map, maptypes);
      this.addDraggableMarker(map, behavior);
      this.mapCreated = true;
    },
    addDraggableMarker(peta, behavior) {
      const H = window.H;
      // create marker
      let marker = new H.map.Marker(this.center, {
        // mark the object as volatile for the smooth dragging
        volatility: true,
      });

      // Add the marker to the map and center the map at the location of the marker:
      peta.addObject(marker);

      // Ensure that the marker can receive drag events
      marker.draggable = true;
      peta.addObject(marker);

      // disable the default draggability of the underlying map
      // and calculate the offset between mouse and target's position
      // when starting to drag a marker object:
      peta.addEventListener(
        "dragstart",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;

          if (target instanceof H.map.Marker) {
            let targetPosition = peta.geoToScreen(target.getGeometry());
            target["offset"] = new H.math.Point(
              pointer.viewportX - targetPosition.x,
              pointer.viewportY - targetPosition.y
            );
            behavior.disable();
          }
        },
        false
      );

      // re-enable the default draggability of the underlying map
      // when dragging has completed
      peta.addEventListener(
        "dragend",
        (ev) => {
          let target = ev.target;

          if (target instanceof H.map.Marker) {
            behavior.enable();
          }
        },
        false
      );

      // Listen to the drag event and move the position of the marker
      // as necessary
      peta.addEventListener(
        "drag",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;
          if (target instanceof H.map.Marker) {
            target.setGeometry(
              peta.screenToGeo(
                pointer.viewportX - target["offset"].x,
                pointer.viewportY - target["offset"].y
              )
            );
          }
        },
        false
      );
    },
    updateStatus(data) {
      if (data.status == 2 && !data.notes) {
        this.detail.status = 0;
        this.$swal({
          title: "Oops",
          text: "Please fill notes",
          icon: "warning",
          dangerMode: true,
        });
      } else {
        axios
          .put(
            `${this.$store.state.baseUrl}tech/packet-user/${data.id}/update-status`,
            {
              status: data.status,
              notes: data.notes,
            },
            {
              headers: {
                Authorization: `${this.$store.state.tokenJwt}`,
              },
            }
          )
          .then((response) => {
            this.$swal
              .fire({
                title: "Success",
                text: response.data.message,
                icon: "success",
              })
              .then(() => {
                window.location.reload();
              });
          })
          .catch((error) => {
            this.$swal.fire({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      }
    },
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}tech/packet-user`, {
        headers: {
          Authorization: this.$store.state.tokenJwt,
        },
      })
      .then((response) => {
        this.packetUsers = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
