<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Schedule</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Schedule {{ packetUser ? packetUser.packet.name : "" }}
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral" @click="openModal()"
                  ><i class="fas fa-plus"></i> Add</a
                >
                <router-link
                  :to="{ name: 'Dashboard Tech Customer' }"
                  class="btn btn-sm btn-secondary"
                  ><i class="fas fa-arrow-left"></i> Back</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="schedules == null || schedules.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(schedule, index) in schedules.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ schedule.date_formatted }}
                        </td>
                        <td class="text-center">
                          {{ schedule.bill.packet_user.user.name }}
                        </td>
                        <td class="text-center">
                          <a
                            class="btn btn-sm btn-primary"
                            :href="`https://www.google.com/maps/search/?api=1&query=${schedule.bill.packet_user.latitude},${schedule.bill.packet_user.longitude}`"
                            target="_blank"
                          >
                            <i class="fas fa-map-marker-alt"></i> Open in Maps
                          </a>
                        </td>
                        <td class="text-center" :title="schedule.description">
                          {{ schedule.description_formatted }}
                        </td>
                        <td class="text-center">
                          <span
                            :class="[
                              'badge',
                              schedule.status == 0
                                ? 'bg-warning'
                                : schedule.status == 1
                                ? 'bg-info'
                                : 'bg-success',
                            ]"
                          >
                            {{ schedule.status_formatted }}
                          </span>
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-success btn-sm"
                            :disabled="schedule.status != 1"
                            @click="updateStatus(schedule)"
                          >
                            <i class="fas fa-check"></i>
                          </button>
                          <button
                            class="btn btn-primary btn-sm"
                            :disabled="schedule.status != 0"
                            @click="openModal(schedule)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-danger btn-sm"
                            :disabled="schedule.status != 0"
                            @click="deleteData(schedule)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="schedules.data.length > 0"
                    :data="schedules"
                    ammount="schedule"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <label for="date" class="form-label">Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="date"
                          v-model="data.date"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <label for="description" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          name="description"
                          id="description"
                          cols="30"
                          rows="4"
                          v-model="data.description"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <button
                          class="btn btn-success btn-sm"
                          :disabled="
                            data.date == null || data.description == null
                          "
                          @click="submit(create)"
                        >
                          <i class="fas fa-save"></i> Save
                        </button>
                        <button
                          class="btn btn-secondary btn-sm"
                          @click="closeModal()"
                          type="button"
                        >
                          <i class="fas fa-times"></i> Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";

export default {
  data() {
    return {
      create: false,
      filter: "",
      packetUser: null,
      schedules: {
        data: [],
      },
      data: {
        id: null,
        packet_user_id: null,
        date: null,
        description: null,
        status: null,
        status_formatted: null,
        date_formatted: null,
      },
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.schedules = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.schedules = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.schedules = null;
      axios
        .get(
          `${this.$store.state.baseUrl}tech/schedule/${this.packetUser.id}/by-packet-user?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.schedules = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    openModal(data = null) {
      if (data == null) {
        this.create = true;
        this.data = {
          id: null,
          packet_user_id: this.$route.params.id,
          date: null,
          description: null,
          status: null,
          status_formatted: null,
          date_formatted: null,
        };
      } else {
        this.create = false;
        this.data = {
          id: data.id,
          packet_user_id: this.$route.params.id,
          date: data.date,
          description: data.description,
          status: data.status,
          status_formatted: data.status_formatted,
          date_formatted: data.date_formatted,
        };
      }

      setTimeout(() => {
        $("#modal").modal("show");
      }, 300);
    },
    submit(create) {
      if (create) {
        axios
          .post(`${this.$store.state.baseUrl}tech/schedule`, this.data, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.$swal({
              title: "Success",
              text: response.data.message,
              icon: "success",
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            this.$swal({
              title: "Success",
              text: error.response.data.message,
              icon: "success",
            });
          });
      } else {
        axios
          .put(
            `${this.$store.state.baseUrl}tech/schedule/${this.data.id}`,
            this.data,
            {
              headers: {
                Authorization: `${this.$store.state.tokenJwt}`,
              },
            }
          )
          .then((response) => {
            this.$swal({
              title: "Success",
              text: response.data.message,
              icon: "success",
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            this.$swal({
              title: "Success",
              text: error.response.data.message,
              icon: "success",
            });
          });
      }
    },
    deleteData(data) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `Delete this schedule`,
          icon: "warning",
          showCancelButton: true,
        })
        .then((response) => {
          if (response.isConfirmed) {
            axios
              .delete(`${this.$store.state.baseUrl}tech/schedule/${data.id}`, {
                headers: {
                  Authorization: `${this.$store.state.tokenJwt}`,
                },
              })
              .then((response) => {
                this.$swal
                  .fire({
                    title: "Success",
                    text: response.data.message,
                    icon: "success",
                  })
                  .then(() => {
                    window.location.reload();
                  });
              })
              .catch((error) => {
                this.$swal.fire({
                  title: "Failed",
                  text: error.response.data.message,
                  icon: "error",
                });
              });
          }
        });
    },
    updateStatus(data) {
      this.$swal
        .fire({
          title: "Update status schedule to done?",
          icon: "warning",
          showCancelButton: true,
          showConfirmButton: true,
          confirmButtonText: "Only update status",
          showDenyButton: true,
          denyButtonText: "With activate this",
        })
        .then((response) => {
          if (response.isConfirmed || response.isDenied) {
            axios
              .put(
                `${this.$store.state.baseUrl}tech/schedule/${data.id}/update-status`,
                {
                  status: 2,
                  activate: response.isDenied,
                },
                {
                  headers: {
                    Authorization: `${this.$store.state.tokenJwt}`,
                  },
                }
              )
              .then((response) => {
                this.$swal
                  .fire({
                    title: "Success",
                    text: response.data.message,
                    icon: "success",
                  })
                  .then(() => {
                    window.location.reload();
                  });
              })
              .catch((error) => {
                this.$swal.fire({
                  title: "Failed",
                  text: error.response.data.message,
                  icon: "error",
                });
              });
          }
        });
    },
  },
  closeModal() {
    $("#modal").modal("hide");
  },
  mounted() {
    axios
      .get(
        `${this.$store.state.baseUrl}tech/packet-user/${this.$route.params.id}`,
        {
          headers: {
            Authorization: this.$store.state.tokenJwt,
          },
        }
      )
      .then((response) => {
        this.packetUser = response.data.data;

        axios
          .get(
            `${this.$store.state.baseUrl}tech/schedule/${response.data.data.id}/by-packet-user`,
            {
              headers: {
                Authorization: this.$store.state.tokenJwt,
              },
            }
          )
          .then((response) => {
            this.schedules = response.data.data;
          })
          .catch((error) => {
            console.log(error);
          });
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
