<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Customer List</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Customer
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral" @click="openModal()"
                  ><i class="fas fa-plus"></i> Add</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="customers == null || customers.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                      name="search"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(customer, index) in customers.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ customer.name }}
                        </td>
                        <td class="text-center" v-html="customer.email"></td>
                        <td class="text-center">
                          {{ customer.phone }}
                        </td>
                        <td class="text-center">
                          {{ customer.address }}
                        </td>
                        <td class="text-center">
                          <router-link
                            :to="{
                              name: 'Dashboard Marketing Customer Packet',
                              params: { id: customer.id },
                            }"
                            class="btn btn-info btn-sm text-white"
                          >
                            <i class="fas fa-gift"></i>
                          </router-link>
                          <button
                            class="btn btn-warning btn-sm text-white"
                            @click="openModalPassword(customer)"
                          >
                            <i class="fas fa-key"></i>
                          </button>
                          <button
                            class="btn btn-success btn-sm"
                            @click="openModal(customer)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-danger btn-sm"
                            @click="deleteData(customer)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="customers.data.length > 0"
                    :data="customers"
                    ammount="customer"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <label for="name" class="form-label">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Ex. Aditya"
                          v-model="data.name"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <label for="email" class="form-label">E-Mail</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Ex. hmn@hmn.com"
                          v-model="data.email"
                          :disabled="!create"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3 text-left">
                        <label for="passwordA" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="passwordA"
                          v-model="data.password"
                          :disabled="!create"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3 text-left">
                        <label for="phone" class="form-label">Phone</label>
                        <input
                          type="email"
                          class="form-control"
                          id="phone"
                          placeholder="Ex. 088126689760"
                          v-model="data.phone"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3 text-left">
                        <label for="whatsapp" class="form-label"
                          >Whatsapp</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="whatsapp"
                          placeholder="Ex. 088126689760"
                          v-model="data.whatsapp"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <label for="address" class="form-label">Address</label>
                        <textarea
                          name="address"
                          cols="30"
                          rows="2"
                          v-model="data.address"
                          class="form-control"
                          placeholder="Ex. Jl. Melati"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-lg-6" v-if="data.photo_formatted">
                      <div class="mb-3 text-left">
                        <img
                          :src="data.photo_formatted"
                          alt="Image"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <input
                          class="form-control dropify"
                          placeholder="Image"
                          type="file"
                          id="dropify-photo"
                          name="image"
                          @change="changePhoto()"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" v-if="data.id_card_formatted">
                      <div class="mb-3 text-left">
                        <img
                          :src="data.id_card_formatted"
                          alt="Image"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <input
                          class="form-control dropify"
                          placeholder="Image"
                          type="file"
                          id="dropify-id-card"
                          name="image"
                          @change="changeIdCard()"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 text-left">
                    <button
                      class="btn btn-success btn-sm"
                      :disabled="
                        data.name == null ||
                        data.email == null ||
                        data.phone == null ||
                        data.whatsapp == null
                      "
                      @click="submit(create)"
                    >
                      <i class="fas fa-save"></i> Save
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      @click="closeModal()"
                      type="button"
                    >
                      <i class="fas fa-times"></i> Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container mt--8 pb-5">
          <div
            class="modal fade"
            id="modalPassword"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="col-lg-12">
                    <div class="mb-3 text-left">
                      <label for="password" class="form-label">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        v-model="dataUpdatePassword.password"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="mb-3 text-left">
                      <button
                        class="btn btn-success btn-sm"
                        :disabled="dataUpdatePassword.password == null"
                        @click="submitPassword()"
                      >
                        <i class="fas fa-save"></i> Save
                      </button>
                      <button
                        class="btn btn-secondary btn-sm"
                        @click="closeModalPassword()"
                        type="button"
                      >
                        <i class="fas fa-times"></i> Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";

export default {
  data() {
    return {
      customers: {
        data: [],
      },
      create: true,
      filter: null,
      dataUpdatePassword: {
        id: null,
        password: null,
      },
      data: {
        id: null,
        name: null,
        email: null,
        password: null,
        phone: null,
        whatsapp: null,
        address: null,
        photo_formatted: null,
        photo: null,
        id_card_formatted: null,
        id_card: null,
      },
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.customers = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.customers = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.customers = null;
      axios
        .get(
          `${this.$store.state.baseUrl}marketing/user?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.customers = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    openModal(data = null) {
      if (data != null) {
        this.create = false;
        this.data = {
          id: data.id,
          name: data.name,
          email: data.email,
          password: data.password,
          phone: data.phone,
          whatsapp: data.whatsapp,
          address: data.address,
          photo_formatted: data.photo_formatted,
          photo: null,
          id_card_formatted: data.id_card_formatted,
          id_card: null,
        };
      } else {
        this.create = true;
        this.data = {
          id: null,
          name: null,
          email: null,
          password: null,
          phone: null,
          whatsapp: null,
          address: null,
          photo_formatted: null,
          photo: null,
          id_card_formatted: null,
          id_card: null,
        };
      }

      $("#modal").modal("show");

      setTimeout(() => {
        let dropifyPhoto = $("#dropify-photo").dropify({
          messages: {
            default: "Drag and drop a photo here or click",
            replace: "Drag and drop or click to replace",
            remove: "Remove",
            error: "Ooops, something wrong happended.",
          },
        });
        dropifyPhoto.on("dropify.beforeClear", () => {
          this.form.photo = null;
        });

        let dropifyIdCard = $("#dropify-id-card").dropify({
          messages: {
            default: "Drag and drop a id card here or click",
            replace: "Drag and drop or click to replace",
            remove: "Remove",
            error: "Ooops, something wrong happended.",
          },
        });
        dropifyIdCard.on("dropify.beforeClear", () => {
          this.form.id_card = null;
        });
      }, 500);
    },
    closeModal() {
      $("#modal").modal("hide");
    },
    openModalPassword(data) {
      this.dataUpdatePassword.id = data.id;
      this.dataUpdatePassword.password = null;

      $("#modalPassword").modal("show");
    },
    closeModalPassword() {
      $("#modalPassword").modal("hide");
    },
    changePhoto() {
      var element = document.getElementById("dropify-photo").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.data.photo = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    changeIdCard() {
      var element = document.getElementById("dropify-id-card").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.data.id_card = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    submit(create = true) {
      if (create) {
        axios
          .post(`${this.$store.state.baseUrl}marketing/user`, this.data, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.$swal
              .fire({
                title: "Success",
                text: response.data.message,
                icon: "success",
              })
              .then(() => {
                window.location.reload();
              });
          })
          .catch((error) => {
            this.$swal.fire({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      } else {
        axios
          .put(
            `${this.$store.state.baseUrl}marketing/user/${this.data.id}`,
            this.data,
            {
              headers: {
                Authorization: `${this.$store.state.tokenJwt}`,
              },
            }
          )
          .then((response) => {
            this.$swal
              .fire({
                title: "Success",
                text: response.data.message,
                icon: "success",
              })
              .then(() => {
                window.location.reload();
              });
          })
          .catch((error) => {
            this.$swal.fire({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      }
    },
    submitPassword() {
      axios
        .put(
          `${this.$store.state.baseUrl}marketing/user/${this.dataUpdatePassword.id}/password`,
          this.dataUpdatePassword,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.$swal
            .fire({
              title: "Success",
              text: response.data.message,
              icon: "success",
            })
            .then(() => {
              window.location.reload();
            });
        })
        .catch((error) => {
          this.$swal.fire({
            title: "Failed",
            text: error.response.data.message,
            icon: "error",
          });
        });
    },
    deleteData(data) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `Delete ${data.name}`,
          icon: "warning",
          showCancelButton: true,
        })
        .then((response) => {
          if (response.isConfirmed) {
            axios
              .delete(`${this.$store.state.baseUrl}marketing/user/${data.id}`, {
                headers: {
                  Authorization: `${this.$store.state.tokenJwt}`,
                },
              })
              .then((response) => {
                this.$swal
                  .fire({
                    title: "Success",
                    text: response.data.message,
                    icon: "success",
                  })
                  .then(() => {
                    window.location.reload();
                  });
              })
              .catch((error) => {
                this.$swal.fire({
                  title: "Failed",
                  text: error.response.data.message,
                  icon: "error",
                });
              });
          }
        });
    },
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}marketing/user`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.customers = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
