<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">
                  {{ user ? user.name : "Customer" }}
                </h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Packet
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <button class="btn btn-sm btn-neutral" @click="openModal()">
                  <i class="fas fa-plus"></i> Add
                </button>
                <router-link
                  :to="{ name: 'Dashboard Marketing Customer' }"
                  class="btn btn-sm btn-secondary"
                  ><i class="fas fa-arrow-left"></i> Back</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="packetUsers.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div
            class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-left mb-3"
            v-for="(packetUser, index) in packetUsers.data"
            :key="index"
          >
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    :src="packetUser.packet.image_formatted"
                    class="img-fluid rounded-start"
                    alt="Image"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ packetUser.packet.name }}
                    </h5>
                    <p>Price : {{ packetUser.price_formatted }}</p>
                    <p>Status : {{ packetUser.status_formatted }}</p>
                    <p v-if="packetUser.status == 2">
                      Notes : {{ packetUser.notes }}
                    </p>
                    <p
                      class="card-text"
                      v-html="packetUser.packet.description"
                    ></p>
                    <button
                      class="btn btn-sm btn-info"
                      @click="openModal(packetUser)"
                    >
                      <i class="fas fa-edit"></i> Edit
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      @click="deleteData(packetUser)"
                      :disabled="[1, 2].includes(packetUser.status)"
                    >
                      <i class="fas fa-trash"></i> Hapus
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="packetUsers.data.length > 0" class="mb-5">
          <TablePagination
            :data="packetUsers"
            ammount="packet user"
            :function="navigation"
          />
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="mb-3 text-left">
                    <div
                      id="mapContainer"
                      ref="hereMap"
                      style="height: 300px; width 100%;"
                    ></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <label for="longitude" class="form-label"
                          >Longitude</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="longitude"
                          v-model="data.longitude"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <label for="latitude" class="form-label"
                          >Latitude</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="latitude"
                          v-model="data.latitude"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3 text-left">
                        <label for="packet" class="form-label">Packet</label>
                        <select
                          name="packet"
                          id="packet"
                          class="form-select"
                          v-model="data.packet_id"
                          :disabled="!create"
                        >
                          <option
                            :value="packet.id"
                            v-for="(packet, index) in packets"
                            :key="index"
                            :selected="packet.id == data.packet_id"
                          >
                            {{ packet.name }} - {{ packet.price_formatted }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6" v-if="!create">
                      <div class="mb-3 text-left">
                        <label for="price" class="form-label">Price</label>
                        <input
                          type="text"
                          class="form-control"
                          id="price"
                          v-model="data.price"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-12"><hr /></div>
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <button
                          class="btn btn-success"
                          @click="submit()"
                          :disabled="data.status == 1"
                        >
                          <i class="fas fa-save"></i> Save
                        </button>
                        <button
                          class="btn btn-secondary"
                          @click="closeModal()"
                          type="button"
                        >
                          <i class="fas fa-times"></i> Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";

export default {
  data() {
    return {
      create: true,
      user: null,
      mapCreated: false,
      packetUsers: {
        data: [],
      },
      center: {
        lat: null,
        lng: null,
      },
      data: {
        id: null,
        packet_id: null,
        user_id: null,
        longitude: null,
        latitude: null,
        price: null,
        status: null,
      },
      packets: null,
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.packetUsers = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.packetUsers = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    openModal(data = null) {
      if (data) {
        this.data = {
          id: data.id,
          packet_id: data.packet_id,
          user_id: data.user_id,
          longitude: data.longitude,
          latitude: data.latitude,
          price: data.price,
          status: data.status,
        };

        this.create = false;
        this.center = {
          lat: data.latitude,
          lng: data.longitude,
        };
      } else {
        this.data = {
          id: null,
          packet_id: null,
          user_id: this.user.id,
          longitude: this.center.lng,
          latitude: this.center.lat,
          price: null,
          status: null,
        };

        this.create = true;
      }

      $("#modal").modal("show");

      setTimeout(() => {
        $("#mapContainer").empty();
        const platform = new window.H.service.Platform({
          apikey: this.$store.state.apiKeyHereMap,
        });

        this.platform = platform;
        this.initializeHereMap();
      }, 500);
    },
    closeModal() {
      $("#modal").modal("hide");
    },
    initializeHereMap() {
      const mapContainer = this.$refs.hereMap;
      const H = window.H;
      var maptypes = this.platform.createDefaultLayers();

      var map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 15,
        center: this.center,
      });

      addEventListener("resize", () => map.getViewPort().resize());

      // Add behavior to the map: panning, zooming, dragging.
      let behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      H.ui.UI.createDefault(map, maptypes);
      this.addDraggableMarker(map, behavior);
      this.mapCreated = true;
    },
    addDraggableMarker(peta, behavior) {
      const H = window.H;
      // create marker
      let marker = new H.map.Marker(this.center, {
        // mark the object as volatile for the smooth dragging
        volatility: true,
      });

      // Add the marker to the map and center the map at the location of the marker:
      peta.addObject(marker);

      // Ensure that the marker can receive drag events
      marker.draggable = true;
      peta.addObject(marker);

      // disable the default draggability of the underlying map
      // and calculate the offset between mouse and target's position
      // when starting to drag a marker object:
      peta.addEventListener(
        "dragstart",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;

          if (target instanceof H.map.Marker) {
            let targetPosition = peta.geoToScreen(target.getGeometry());
            target["offset"] = new H.math.Point(
              pointer.viewportX - targetPosition.x,
              pointer.viewportY - targetPosition.y
            );
            behavior.disable();
          }
        },
        false
      );

      // re-enable the default draggability of the underlying map
      // when dragging has completed
      peta.addEventListener(
        "dragend",
        (ev) => {
          let target = ev.target;
          this.center.lat = target.b.lat;
          this.center.lng = target.b.lng;
          this.data.longitude = target.b.lng;
          this.data.latitude = target.b.lat;

          if (target instanceof H.map.Marker) {
            behavior.enable();
          }
        },
        false
      );

      // Listen to the drag event and move the position of the marker
      // as necessary
      peta.addEventListener(
        "drag",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;
          if (target instanceof H.map.Marker) {
            target.setGeometry(
              peta.screenToGeo(
                pointer.viewportX - target["offset"].x,
                pointer.viewportY - target["offset"].y
              )
            );
          }
        },
        false
      );
    },
    submit() {
      if (this.create) {
        axios
          .post(
            `${this.$store.state.baseUrl}marketing/packet-user`,
            this.data,
            {
              headers: {
                Authorization: this.$store.state.tokenJwt,
              },
            }
          )
          .then((response) => {
            this.$swal({
              title: "Success",
              text: response.data.message,
              icon: "success",
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            this.$swal({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      } else {
        axios
          .put(
            `${this.$store.state.baseUrl}marketing/packet-user/${this.data.id}`,
            this.data,
            {
              headers: {
                Authorization: this.$store.state.tokenJwt,
              },
            }
          )
          .then((response) => {
            this.$swal({
              title: "Success",
              text: response.data.message,
              icon: "success",
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            this.$swal({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      }
    },
    deleteData(data) {
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
        })
        .then((response) => {
          if (response.isConfirmed) {
            axios
              .delete(
                `${this.$store.state.baseUrl}marketing/packet-user/${data.id}`,
                {
                  headers: {
                    Authorization: `${this.$store.state.tokenJwt}`,
                  },
                }
              )
              .then((response) => {
                this.$swal
                  .fire({
                    title: "Success",
                    text: response.data.message,
                    icon: "success",
                  })
                  .then(() => {
                    window.location.reload();
                  });
              })
              .catch((error) => {
                this.$swal.fire({
                  title: "Failed",
                  text: error.response.data.message,
                  icon: "error",
                });
              });
          }
        });
    },
  },
  mounted() {
    navigator.geolocation.getCurrentPosition((position) => {
      this.center.lat = position.coords.latitude;
      this.center.lng = position.coords.longitude;
    });

    axios
      .get(
        `${this.$store.state.baseUrl}marketing/user/${this.$route.params.id}`,
        {
          headers: {
            Authorization: this.$store.state.tokenJwt,
          },
        }
      )
      .then((response) => {
        this.user = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });

    axios
      .get(
        `${this.$store.state.baseUrl}marketing/packet-user/${this.$route.params.id}/by-user`,
        {
          headers: {
            Authorization: this.$store.state.tokenJwt,
          },
        }
      )
      .then((response) => {
        this.packetUsers = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });

    axios
      .get(
        `${this.$store.state.baseUrl}marketing/packet/${this.$route.params.id}`,
        {
          headers: {
            Authorization: this.$store.state.tokenJwt,
          },
        }
      )
      .then((response) => {
        this.packets = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
