<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div
        class="header pb-6 d-flex align-items-center justify-content-start p-4"
        style="
          min-height: 500px;
          background-image: url('https://img.freepik.com/free-vector/group-people-working-together_52683-28615.jpg?size=626&ext=jpg');
          background-size: cover;
          background-position: center top;
        "
      >
        <span class="mask bg-gradient-default opacity-8"></span>
        <div class="row text-left">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">
              Hello {{ $store.state.dataProfile.name }}
            </h1>
            <p class="text-white mt-0 mb-5">
              This is your profile page. You can see the progress you've made
              with your work and manage your projects or assigned tasks
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--9 text-left">
        <div class="row mb-5">
          <div class="col-lg-6">
            <div class="card p-5">
              <form action="#">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                    v-model="profile.email"
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="profile.name"
                  />
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    v-model="profile.phone"
                  />
                </div>
                <div class="mb-3">
                  <label for="whatsapp" class="form-label">Whatsapp</label>
                  <input
                    type="text"
                    class="form-control"
                    id="whatsapp"
                    v-model="profile.whatsapp"
                  />
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label">Address</label>
                  <textarea
                    name="address"
                    id="address"
                    class="form-control"
                    rows="3"
                    v-model="profile.address"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div
                          class="
                            input-group
                            input-group-merge
                            input-group-alternative
                          "
                        >
                          <div class="input-group-prepend"></div>
                          <input
                            class="form-control dropify"
                            placeholder="Photo"
                            type="file"
                            id="dropify-photo"
                            name="photo"
                            @change="changePhoto()"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div
                          class="
                            input-group
                            input-group-merge
                            input-group-alternative
                          "
                        >
                          <div class="input-group-prepend"></div>
                          <input
                            class="form-control dropify"
                            id="dropify-id-card"
                            placeholder="Id Card"
                            type="file"
                            name="id_card"
                            @change="changeIdCard()"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-left">
                  <button
                    class="btn btn-primary"
                    type="button"
                    @click="updateProfile()"
                  >
                    Update Profile
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12 mb-2">
                <div class="card p-5">
                  <div class="mb-3">
                    <label for="password" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      v-model="password"
                    />
                  </div>
                  <div class="text-left">
                    <button
                      class="btn btn-primary"
                      type="button"
                      @click="updatePassword()"
                      :disabled="password == null"
                    >
                      Update Password
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-2">
                <div class="card">
                  <img
                    :src="$store.state.dataProfile.photo_formatted"
                    alt="Profile"
                    class="img-fluid rounded img-thumbnail"
                  />
                </div>
              </div>
              <div class="col-lg-6 mb-2">
                <div class="card">
                  <img
                    :src="$store.state.dataProfile.id_card_formatted"
                    alt="Id Card"
                    class="img-fluid rounded img-thumbnail"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import axios from "axios";

export default {
  setup() {
    //
  },
  beforeCreate() {
    //
  },
  data() {
    return {
      currentUrl: this.$route.fullPath.split("/"),
      profile: {
        name: this.$store.state.dataProfile.name,
        email: this.$store.state.dataProfile.email,
        phone: this.$store.state.dataProfile.phone,
        whatsapp: this.$store.state.dataProfile.whatsapp,
        address: this.$store.state.dataProfile.address,
        photo: null,
        id_card: null,
      },
      password: null,
    };
  },
  methods: {
    changePhoto() {
      var element = document.getElementById("dropify-photo").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.profile.photo = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    changeIdCard() {
      var element = document.getElementById("dropify-id-card").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.profile.id_card = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    updateProfile() {
      axios
        .put(`${this.$store.state.baseUrl}profile`, this.profile, {
          headers: {
            Authorization: localStorage.getItem("token_hmn"),
          },
        })
        .then(() => {
          this.$swal({
            title: "Success",
            text: "Profile has been updated, please re-login",
            icon: "success",
          }).then(() => {
            this.$store.commit("logout");
            window.location.reload();
          });
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "warning",
          });
        });
    },
    updatePassword() {
      axios
        .put(
          `${this.$store.state.baseUrl}profile/password`,
          {
            password: this.password,
          },
          {
            headers: {
              Authorization: localStorage.getItem("token_hmn"),
            },
          }
        )
        .then(() => {
          this.$swal({
            title: "Success",
            text: "Password has been updated, please re-login",
            icon: "success",
          }).then(() => {
            this.$store.commit("logout");
            window.location.reload();
          });
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "warning",
          });
        });
    },
  },
  mounted() {
    setTimeout(() => {
      let dropifyPhoto = $("#dropify-photo").dropify({
        messages: {
          default: "Drag and drop a photo here or click",
          replace: "Drag and drop or click to replace",
          remove: "Remove",
          error: "Ooops, something wrong happended.",
        },
      });
      dropifyPhoto.on("dropify.beforeClear", () => {
        this.profile.photo = null;
      });

      let dropifyIdCard = $("#dropify-id-card").dropify({
        messages: {
          default: "Drag and drop a id card here or click",
          replace: "Drag and drop or click to replace",
          remove: "Remove",
          error: "Ooops, something wrong happended.",
        },
      });
      dropifyIdCard.on("dropify.beforeClear", () => {
        this.profile.id_card = null;
      });
    }, 500);
  },
};
</script>
