<template>
  <div class="home">
    <Navbar />
    <div class="main-content">
      <div class="header bg-primary pt-5 pb-7">
        <div class="container">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-5">
                  <h1 class="display-2 text-white font-weight-bold mb-0">
                    Heles Media Network
                  </h1>
                  <h2 class="display-4 text-white font-weight-light">
                    Internet Service Provider
                  </h2>
                  <p class="text-white mt-4">
                    Argon perfectly combines reusable HTML and modular CSS with
                    a modern styling and beautiful markup throughout each HTML
                    template in the pack.
                  </p>
                  <div class="mt-5">
                    <a
                      href="#"
                      @click="toDashboard"
                      class="btn btn-neutral my-2"
                      v-if="$store.state.tokenJwt != null"
                      >Dashboard</a
                    >
                    <a href="#pricing" class="btn btn-default my-2"
                      >Purchase now</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row pt-5">
                  <div class="col-md-6">
                    <div class="card">
                      <img
                        src="./../../public/assets/img/brand/img-1.jpeg"
                        alt=""
                        class="img-fluid img-thumbnail rounded"
                      />
                    </div>
                    <div class="card">
                      <img
                        src="./../../public/assets/img/brand/img-2.jpeg"
                        alt=""
                        class="img-fluid img-thumbnail rounded"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 pt-lg-5 pt-4">
                    <div class="card mb-4">
                      <img
                        src="./../../public/assets/img/brand/img-3.jpeg"
                        alt=""
                        class="img-fluid img-thumbnail rounded"
                      />
                    </div>
                    <div class="card mb-4">
                      <img
                        src="./../../public/assets/img/brand/img-4.jpeg"
                        alt=""
                        class="img-fluid img-thumbnail rounded"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="separator separator-bottom separator-skew zindex-100">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-default"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section
        class="py-6 pb-9 bg-default"
        style="overflow: hidden"
        id="pricing"
      >
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h2 class="display-3 text-white">Pricing</h2>
          </div>
        </div>
      </section>
      <section
        class="section section-lg pt-lg-0 mt--7"
        v-if="packets.length > 0"
      >
        <div class="container">
          <div class="row mb-3 text-center">
            <div
              class="col-sm-12 col-md-4 col-lg-4"
              v-for="(packet, index) in packets"
              :key="index"
            >
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <img
                    :src="packet.image_formatted"
                    :alt="packet.name"
                    class="img-fluid"
                  />
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">
                    {{ packet.name }}
                    <br />
                    <small class="text-muted"
                      >{{ packet.price_formatted }} / bln</small
                    >
                  </h1>
                  <p class="mt-3 mb-4" v-html="packet.description"></p>
                  <button
                    type="button"
                    class="btn btn-lg btn-block btn-primary"
                    @click="openModal(packet)"
                  >
                    Purchase now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-6">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2">
              <img
                src="./../../public/assets/img/brand/banner-1.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 order-md-1">
              <div class="pr-md-5">
                <h1>Internet speed</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                  nihil temporibus ab necessitatibus quidem, eum et pariatur
                  similique eveniet, expedita, autem voluptatibus debitis hic.
                  Voluptatem ullam saepe ad nihil fugit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-6">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6">
              <img
                src="./../../public/assets/img/brand/banner-2.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6">
              <div class="pr-md-5">
                <h1>Support 24/7</h1>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste
                  minus illum cumque non dolores necessitatibus perferendis
                  error asperiores autem esse deserunt laborum quia
                  exercitationem dignissimos ratione, repellendus in nisi
                  temporibus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-6">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2">
              <img
                src="./../../public/assets/img/brand/banner-3.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 order-md-1">
              <div class="pr-md-5">
                <h1>Affordable prices</h1>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Error quia dolores, obcaecati, commodi dolore voluptatibus
                  voluptatum deleniti enim doloribus laborum esse ut eum nulla
                  ab dolor consequatur maiores maxime similique?
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <Footer />

    <div class="container mt--8 pb-5">
      <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <div class="mb-3 text-left">
                <div
                  id="mapContainer"
                  ref="hereMap"
                  style="height: 300px; width 100%;"
                ></div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3 text-left">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input
                      type="text"
                      class="form-control"
                      id="longitude"
                      v-model="data.longitude"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3 text-left">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input
                      type="text"
                      class="form-control"
                      id="latitude"
                      v-model="data.latitude"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3 text-left">
                    <label for="packet" class="form-label">Packet</label>
                    <select
                      name="packet"
                      id="packet"
                      class="form-select"
                      v-model="data.packet_id"
                      disabled
                    >
                      <option
                        :value="packet.id"
                        v-for="(packet, index) in packets"
                        :key="index"
                        :selected="packet.id == data.packet_id"
                      >
                        {{ packet.name }} - {{ packet.price_formatted }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6" v-if="!create">
                  <div class="mb-3 text-left">
                    <label for="price" class="form-label">Price</label>
                    <input
                      type="text"
                      class="form-control"
                      id="price"
                      v-model="data.price"
                      :disabled="create"
                    />
                  </div>
                </div>
                <div class="col-lg-12"><hr /></div>
                <div class="col-lg-12">
                  <div class="mb-3 text-left">
                    <button class="btn btn-success" @click="submit()">
                      <i class="fas fa-save"></i> Save
                    </button>
                    <button
                      class="btn btn-secondary"
                      @click="closeModal()"
                      type="button"
                    >
                      <i class="fas fa-times"></i> Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import $ from "jquery";

export default {
  name: "Home",
  data() {
    return {
      packets: [],
      center: {
        lat: null,
        lng: null,
      },
      data: {
        id: null,
        packet_id: null,
        user_id: null,
        longitude: null,
        latitude: null,
        price: null,
        status: null,
      },
      mapCreated: false,
      create: true,
    };
  },
  methods: {
    toDashboard() {
      switch (this.$store.state.dataProfile.role) {
        case "C":
          this.$router.push({ name: "Dashboard Customer" });
          break;
        case "M":
          this.$router.push({ name: "Dashboard Marketing" });
          break;
        case "F":
          this.$router.push({ name: "Dashboard Finance" });
          break;
        case "T":
          this.$router.push({ name: "Dashboard Tech" });
          break;

        default:
          this.$swal.fire({
            title: "Oops!",
            text: "You are not authorized to access this page!",
            icon: "error",
          });
          break;
      }
    },
    openModal(packet) {
      if (!this.$store.state.dataProfile) {
        this.$router.push({ name: "Login" });
      } else if (
        this.$store.state.dataProfile &&
        !["C"].includes(this.$store.state.dataProfile.role)
      ) {
        this.$swal.fire({
          title: "Oops!",
          text: "You are not authorized to access this page!",
          icon: "error",
        });
      } else {
        this.data.packet_id = packet.id;
        this.data.price = packet.price;
        this.data.user_id = this.$store.state.dataProfile.id;
        this.data.longitude = this.center.lng;
        this.data.latitude = this.center.lat;

        this.create = true;

        $("#modal").modal("show");

        setTimeout(() => {
          $("#mapContainer").empty();
          const platform = new window.H.service.Platform({
            apikey: this.$store.state.apiKeyHereMap,
          });

          this.platform = platform;
          this.initializeHereMap();
        }, 500);
      }
    },
    closeModal() {
      $("#modal").modal("hide");
    },
    initializeHereMap() {
      const mapContainer = this.$refs.hereMap;
      const H = window.H;
      var maptypes = this.platform.createDefaultLayers();

      var map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 15,
        center: this.center,
      });

      addEventListener("resize", () => map.getViewPort().resize());

      // Add behavior to the map: panning, zooming, dragging.
      let behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      H.ui.UI.createDefault(map, maptypes);
      this.addDraggableMarker(map, behavior);
      this.mapCreated = true;
    },
    addDraggableMarker(peta, behavior) {
      const H = window.H;
      // create marker
      let marker = new H.map.Marker(this.center, {
        // mark the object as volatile for the smooth dragging
        volatility: true,
      });

      // Add the marker to the map and center the map at the location of the marker:
      peta.addObject(marker);

      // Ensure that the marker can receive drag events
      marker.draggable = true;
      peta.addObject(marker);

      // disable the default draggability of the underlying map
      // and calculate the offset between mouse and target's position
      // when starting to drag a marker object:
      peta.addEventListener(
        "dragstart",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;

          if (target instanceof H.map.Marker) {
            let targetPosition = peta.geoToScreen(target.getGeometry());
            target["offset"] = new H.math.Point(
              pointer.viewportX - targetPosition.x,
              pointer.viewportY - targetPosition.y
            );
            behavior.disable();
          }
        },
        false
      );

      // re-enable the default draggability of the underlying map
      // when dragging has completed
      peta.addEventListener(
        "dragend",
        (ev) => {
          let target = ev.target;
          this.center.lat = target.b.lat;
          this.center.lng = target.b.lng;
          this.data.longitude = target.b.lng;
          this.data.latitude = target.b.lat;

          if (target instanceof H.map.Marker) {
            behavior.enable();
          }
        },
        false
      );

      // Listen to the drag event and move the position of the marker
      // as necessary
      peta.addEventListener(
        "drag",
        (ev) => {
          let target = ev.target;
          let pointer = ev.currentPointer;
          if (target instanceof H.map.Marker) {
            target.setGeometry(
              peta.screenToGeo(
                pointer.viewportX - target["offset"].x,
                pointer.viewportY - target["offset"].y
              )
            );
          }
        },
        false
      );
    },
    submit() {
      axios
        .post(`${this.$store.state.baseUrl}customer/my-packet`, this.data, {
          headers: {
            Authorization: this.$store.state.tokenJwt,
          },
        })
        .then((response) => {
          this.$swal({
            title: "Success",
            text: response.data.message,
            icon: "success",
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          this.$swal({
            title: "Failed",
            text: error.response.data.message,
            icon: "error",
          });
        });
    },
  },
  mounted() {
    navigator.geolocation.getCurrentPosition((position) => {
      this.center.lat = position.coords.latitude;
      this.center.lng = position.coords.longitude;
    });

    axios
      .get(`${this.$store.state.baseUrl}packet`)
      .then((res) => {
        this.packets = res.data.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
