<template>
  <div>
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Loading...
  </div>
</template>

<script>
export default {};
</script>
