<template>
  <nav
    id="navbar-main"
    class="
      navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark
      bg-primary
    "
  >
    <div class="container">
      <a class="navbar-brand" href="./pages/dashboards/dashboard.html">
        <img src="./../../public/assets/img/brand/white.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-collapse"
        aria-controls="navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse navbar-custom-collapse collapse"
        id="navbar-collapse"
      >
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./pages/dashboards/dashboard.html">
                <img src="./../../public/assets/img/brand/blue.png" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbar-collapse"
                aria-controls="navbar-collapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#pricing" class="nav-link">
              <span class="nav-link-inner--text">Pricing</span>
            </a>
          </li>
          <li class="nav-item" v-if="$store.state.tokenJwt != null">
            <router-link
              :to="{ name: 'Dashboard Tech' }"
              class="nav-link"
              v-if="$store.state.dataProfile.role == 'T'"
            >
              <span class="nav-link-inner--text">Dashboard</span>
            </router-link>
            <router-link
              :to="{ name: 'Dashboard Customer' }"
              class="nav-link"
              v-if="$store.state.dataProfile.role == 'C'"
            >
              <span class="nav-link-inner--text">Dashboard</span>
            </router-link>
            <router-link
              :to="{ name: 'Dashboard Marketing' }"
              class="nav-link"
              v-if="$store.state.dataProfile.role == 'M'"
            >
              <span class="nav-link-inner--text">Dashboard</span>
            </router-link>
            <router-link
              :to="{ name: 'Dashboard Finance' }"
              class="nav-link"
              v-if="$store.state.dataProfile.role == 'F'"
            >
              <span class="nav-link-inner--text">Dashboard</span>
            </router-link>
          </li>
          <li class="nav-item" v-if="$store.state.tokenJwt != null">
            <form action="#" method="post" id="logout">
              <a href="#" class="nav-link" @click="logout">
                <span class="nav-link-inner--text">Logout</span>
              </a>
            </form>
          </li>
          <li class="nav-item" v-if="$store.state.tokenJwt == null">
            <router-link class="nav-link" :to="{ name: 'Login' }">
              <span class="nav-link-inner--text">Login</span>
            </router-link>
          </li>
          <li class="nav-item" v-if="$store.state.tokenJwt == null">
            <router-link class="nav-link" :to="{ name: 'Register' }">
              <span class="nav-link-inner--text">Register</span>
            </router-link>
          </li>
        </ul>
        <hr class="d-lg-none" />
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              href="https://www.facebook.com/creativetim"
              target="_blank"
              data-toggle="tooltip"
              title=""
              data-original-title="Like us on Facebook"
            >
              <i class="fab fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              href="https://www.instagram.com/creativetimofficial"
              target="_blank"
              data-toggle="tooltip"
              title=""
              data-original-title="Follow us on Instagram"
            >
              <i class="fab fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              href="https://twitter.com/creativetim"
              target="_blank"
              data-toggle="tooltip"
              title=""
              data-original-title="Follow us on Twitter"
            >
              <i class="fab fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              href="https://github.com/creativetimofficial"
              target="_blank"
              data-toggle="tooltip"
              title=""
              data-original-title="Star us on Github"
            >
              <i class="fab fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a href="#pricing" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fas fa-shopping-cart mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Purchase now</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  setup() {
    //
  },
  data() {
    return {};
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$router.push("/");
    },
  },
  mounted() {
    //
  },
};
</script>
