<template>
  <div
    class="
      table-pagination
      d-flex
      flex-column flex-md-row
      justify-content-between
      align-items-center
      mt-3
      pb-2
    "
    v-if="$attrs.data"
  >
    <div style="opacity: 0.7; font-weight: 300">
      {{ $attrs.data.from }}-{{ $attrs.data.to }}
      {{ $attrs.ammount ? $attrs.ammount : "data" }} from total
      {{ $attrs.data.total }} {{ $attrs.ammount ? $attrs.ammount : "data" }}
    </div>
    <ul class="pagination justify-content-end mb-0">
      <li
        :class="`page-item ${item.active ? 'active' : ''}`"
        v-for="(item, id) in $attrs.data.links"
        :key="id"
      >
        <a
          class="page-link"
          href="#"
          tabindex="-1"
          @click="navigationUrl(item.url)"
        >
          <i class="fas fa-angle-left" v-if="id == 0"></i>
          <i
            class="fas fa-angle-right"
            v-else-if="id == $attrs.data.links.length - 1"
          ></i>
          <i v-else>{{ item.label }}</i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    navigationUrl(url) {
      this.$attrs.function(url);
    },
  },
};
</script>
