<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Home</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt--6">
        <div class="row text-left">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Active packet
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      active_packet
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-box"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Non active packet
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      nonactive_packet
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-box-open"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Bill paid off
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{ paid_off }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-money-check"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Bill has not paid off
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      non_paid_off
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-info
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-money-bill"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      active_packet: 0,
      nonactive_packet: 0,
      paid_off: 0,
      non_paid_off: 0,
    };
  },
  methods: {
    //
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}customer/dashboard`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.active_packet = response.data.data.active_packet;
        this.nonactive_packet = response.data.data.nonactive_packet;
        this.paid_off = response.data.data.paid_off;
        this.non_paid_off = response.data.data.non_paid_off;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
