<template>
  <div class="card">
    <div class="card-body">
      <img
        src="./../../../public/assets/img/no-data-found.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</template>
