<template>
  <footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center text-lg-left text-muted">
          &copy; 2021
          <a
            href="https://www.creative-tim.com"
            class="font-weight-bold ml-1"
            target="_blank"
            >Heles Media Network</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-lg-end"
        >
          <li class="nav-item">
            <a href="https://hmn.com" class="nav-link" target="_blank"
              >Heles Media Network</a
            >
          </li>
          <li class="nav-item">
            <a href="https://hmn.com" class="nav-link" target="_blank"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a href="http://hmn.com" class="nav-link" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://hmn.com" class="nav-link" target="_blank"
              >License</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
