<template>
  <nav
    class="
      sidenav
      navbar navbar-vertical
      fixed-left
      navbar-expand-xs navbar-light
      bg-white
    "
    id="sidenav-main"
  >
    <div class="scrollbar-inner">
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="/">
          <img
            src="./../../../public/assets/img/brand/blue.png"
            class="navbar-brand-img"
            alt="..."
          />
        </a>
        <div class="ml-auto">
          <div
            class="sidenav-toggler d-none d-xl-block"
            data-action="sidenav-unpin"
            data-target="#sidenav-main"
          >
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <!-- DIVISI TEKNIS -->
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-warning',
                  currentUrl[3] == 'packet' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Tech Packet' }"
                v-if="$store.state.dataProfile.role == 'T'"
              >
                <i class="fas fa-gift"></i>
                <span class="nav-link-text">Packet</span>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-info',
                  currentUrl[3] == 'customer' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Tech Customer' }"
                v-if="$store.state.dataProfile.role == 'T'"
              >
                <i class="fas fa-users"></i>
                <span class="nav-link-text">Customer</span>
              </router-link>
            </li>
            <!-- DIVISI MARKETING -->
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-warning',
                  currentUrl[3] == 'customer' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Marketing Customer' }"
                v-if="$store.state.dataProfile.role == 'M'"
              >
                <i class="fas fa-users"></i>
                <span class="nav-link-text">Customer</span>
              </router-link>
            </li>
            <!-- DIVISI FINANCE -->
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-info',
                  currentUrl[3] == 'customer' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Finance Customer' }"
                v-if="$store.state.dataProfile.role == 'F'"
              >
                <i class="fas fa-users"></i>
                <span class="nav-link-text">Customer</span>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-success',
                  currentUrl[3] == 'schedule' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Finance Schedule' }"
                v-if="$store.state.dataProfile.role == 'F'"
              >
                <i class="fas fa-calendar"></i>
                <span class="nav-link-text">Schedule</span>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-warning',
                  currentUrl[3] == 'bill' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Finance Bill' }"
                v-if="$store.state.dataProfile.role == 'F'"
              >
                <i class="fas fa-coins"></i>
                <span class="nav-link-text">Bill</span>
              </router-link>
            </li>
            <!-- CUSTOMER -->
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-success',
                  currentUrl[3] == 'packet' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Customer Packet' }"
                v-if="$store.state.dataProfile.role == 'C'"
              >
                <i class="fas fa-gift"></i>
                <span class="nav-link-text">My Packet</span>
              </router-link>
            </li>
            <!-- ALL -->
            <li class="nav-item">
              <router-link
                :class="[
                  'nav-link rounded text-primary',
                  currentUrl[2] == 'profile' ? 'active' : '',
                ]"
                :to="{ name: 'Dashboard Profile' }"
              >
                <i class="fas fa-user"></i>
                <span class="nav-link-text">Profile</span>
              </router-link>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link text-danger" href="#" @click="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  setup() {
    //
  },
  beforeCreate() {
    //
  },
  data() {
    return {
      currentUrl: this.$route.fullPath.split("/"),
    };
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$router.push("/");
    },
  },
  mounted() {
    //
  },
};
</script>
