<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">Schedule</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Schedule
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="schedules == null || schedules.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(schedule, index) in schedules.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ schedule.date_formatted }}
                        </td>
                        <td class="text-center">
                          {{ schedule.bill.packet_user.user.name }}
                        </td>
                        <td class="text-center">
                          <a
                            class="btn btn-sm btn-primary"
                            :href="`https://www.google.com/maps/search/?api=1&query=${schedule.bill.packet_user.latitude},${schedule.bill.packet_user.longitude}`"
                            target="_blank"
                          >
                            <i class="fas fa-map-marker-alt"></i> Open in Maps
                          </a>
                        </td>
                        <td class="text-center" :title="schedule.description">
                          {{ schedule.description_formatted }}
                        </td>
                        <td class="text-center">
                          <span
                            :class="[
                              'badge',
                              schedule.status == 0
                                ? 'bg-warning'
                                : schedule.status == 1
                                ? 'bg-info'
                                : 'bg-success',
                            ]"
                          >
                            {{ schedule.status_formatted }}
                          </span>
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-primary btn-sm"
                            @click="openModal(schedule)"
                            :disabled="schedule.status > 0"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="schedules.data.length > 0"
                    :data="schedules"
                    ammount="schedule"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5" v-if="data != null">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-12 text-left mb-3">
                      Name : {{ data.bill.packet_user.user.name }}
                    </div>
                    <div class="col-lg-12 text-left mb-3">
                      Phone : {{ data.bill.packet_user.user.phone }}
                    </div>
                    <div class="col-lg-12 text-left mb-3">
                      E-Mail : {{ data.bill.packet_user.user.email }}
                    </div>
                    <div class="col-lg-12 text-left mb-3">
                      Packet / Price :
                      {{
                        data.bill.packet_user.packet.name +
                        " / " +
                        data.bill.packet_user.packet.price_formatted
                      }}
                    </div>
                    <div class="col-lg-12 text-left mb-3">
                      Necessary :
                      {{ data.description }}
                    </div>
                    <div class="col-lg-12 text-left mb-5">
                      Location :
                      <a
                        target="_blank"
                        :href="`https://www.google.com/maps/search/?api=1&query=${data.bill.packet_user.latitude},${data.bill.packet_user.longitude}`"
                        class="btn btn-sm btn-primary"
                        ><i class="fas fa-map-marker-alt"></i> Open in maps</a
                      >
                    </div>
                    <div class="col-lg-12 text-left mb-3">
                      <button
                        class="btn btn-info btn-sm text-white"
                        @click="changeFee"
                      >
                        Click here
                      </button>
                      if you need a fee
                    </div>
                    <div class="col-lg-12 text-left mb-3" v-if="needFee">
                      <label for="description" class="form-label"
                        >Description</label
                      >
                      <ckeditor
                        :editor="editor"
                        v-model="data.description"
                        :config="editorConfig"
                      ></ckeditor>
                    </div>
                    <div class="mb-3 text-left" v-if="needFee">
                      <label for="price" class="form-label">Fee</label>
                      <input
                        type="number"
                        class="form-control"
                        id="price"
                        placeholder="Ex. 1000000"
                        v-model="price"
                      />
                    </div>
                    <div class="col-lg-12"><hr /></div>
                    <div class="col-lg-12">
                      <div class="mb-3 text-left">
                        <button
                          class="btn btn-success btn-sm"
                          @click="submit()"
                        >
                          <i class="fas fa-check"></i> Approve
                        </button>
                        <button
                          class="btn btn-secondary btn-sm"
                          @click="closeModal()"
                          type="button"
                        >
                          <i class="fas fa-times"></i> Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  data() {
    return {
      needFee: false,
      filter: "",
      packetUser: null,
      schedules: {
        data: [],
      },
      data: null,
      editor: ClassicEditor,
      editorConfig: {},
      price: 0,
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.schedules = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.schedules = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.schedules = null;
      axios
        .get(
          `${this.$store.state.baseUrl}finance/schedule?search=${this.filter}`,
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.schedules = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    openModal(data) {
      this.data = data;
      setTimeout(() => {
        $("#modal").modal("show");
      }, 300);
    },
    changeFee() {
      this.needFee = !this.needFee;
    },
    submit() {
      axios
        .put(
          `${this.$store.state.baseUrl}finance/schedule/${this.data.id}/approve`,
          {
            description: this.data.description,
            price: this.price,
            need_fee: this.needFee,
            type: "OTHER",
            status: 1,
          },
          {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          }
        )
        .then((response) => {
          this.$swal
            .fire({
              title: "Success",
              text: response.data.message,
              icon: "success",
            })
            .then(() => {
              window.location.reload();
            });
        })
        .catch((err) => {
          this.$swal.fire({
            title: "Failed",
            text: err.response.data.message,
            icon: "error",
          });
        });
    },
  },
  closeModal() {
    $("#modal").modal("hide");
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}finance/schedule`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.schedules = response.data.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
