<template>
  <router-view />
</template>

<script>
import jwt_decode from "jwt-decode";

export default {
  setup() {
    //
  },
  beforeCreate() {
    if (localStorage.getItem("token_hmn") != null) {
      this.$store.commit("setToken", localStorage.getItem("token_hmn"));
      this.$store.commit(
        "setProfile",
        jwt_decode(localStorage.getItem("token_hmn")).user
      );
    }
  },
  data() {
    return {
      //
    };
  },
  methods: {
    //
  },
  mounted() {
    //
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
