<template>
  <div>
    <SidebarDashboard />
    <div class="main-content" id="panel">
      <NavbarDashboard />

      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="d-flex justify-content-between py-4">
              <div>
                <h6 class="h2 text-white d-inline-block mb-0">
                  Available Packet
                </h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Packet
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral" @click="openModal()"
                  ><i class="fas fa-plus"></i> Add</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt--6">
        <div class="row" v-if="packets == null || packets.data.length == 0">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <CardNoDataDashboard />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                  <div class="input-group mb-3 col-lg-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      v-model="filter"
                    />
                    <button
                      class="btn btn-success"
                      type="button"
                      @click="search"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <th>No</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr v-if="packets == null && packets.data.length == 0">
                        <td colspan="5" class="text-center">
                          Data not available
                        </td>
                      </tr>
                      <tr
                        v-else
                        v-for="(packet, index) in packets.data"
                        :key="index"
                      >
                        <td class="text-center">
                          {{ index + 1 }}
                        </td>
                        <td class="text-center">
                          {{ packet.name }}
                        </td>
                        <td
                          class="text-center"
                          v-html="packet.description"
                        ></td>
                        <td class="text-center">
                          {{ packet.price_formatted }}
                        </td>
                        <td class="text-center">
                          <button
                            class="btn btn-success btn-sm"
                            @click="openModal(packet)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-danger btn-sm"
                            @click="deleteData(packet)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <TablePagination
                    v-if="packets.data.length > 0"
                    :data="packets"
                    ammount="packet"
                    :function="navigation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <FooterDashboard />

        <div class="container mt--8 pb-5">
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="mb-3 text-left">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Ex. Paket Hemat"
                      v-model="packet.name"
                    />
                  </div>
                  <div class="mb-3 text-left">
                    <label for="price" class="form-label">Price</label>
                    <input
                      type="number"
                      class="form-control"
                      id="price"
                      placeholder="Ex. Paket Hemat"
                      v-model="packet.price"
                    />
                  </div>
                  <div class="mb-3 text-left">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <ckeditor
                      :editor="editor"
                      v-model="packet.description"
                      :config="editorConfig"
                    ></ckeditor>
                  </div>
                  <div class="mb-3" v-if="packet.image_formatted">
                    <img
                      :src="packet.image_formatted"
                      alt="Image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-control dropify"
                      placeholder="Image"
                      type="file"
                      id="dropify-image"
                      name="image"
                      @change="changeImage()"
                    />
                  </div>
                  <div class="mb-3 text-left">
                    <button
                      class="btn btn-success btn-sm"
                      :disabled="
                        packet.name == null ||
                        packet.description == null ||
                        packet.price == null
                      "
                      @click="submit(create)"
                    >
                      <i class="fas fa-save"></i> Save
                    </button>
                    <button
                      class="btn btn-secondary btn-sm"
                      @click="closeModal()"
                      type="button"
                    >
                      <i class="fas fa-times"></i> Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  data() {
    return {
      packets: {
        data: [],
      },
      create: true,
      filter: "",
      packet: {
        id: null,
        name: null,
        description: null,
        price: 0,
        image: null,
        image_formatted: null,
      },
      editor: ClassicEditor,
      editorConfig: {},
    };
  },
  methods: {
    navigation(url) {
      if (url) {
        this.packets = null;
        axios
          .get(url, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.packets = response.data.data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    search() {
      this.packets = null;
      axios
        .get(`${this.$store.state.baseUrl}tech/packet?search=${this.filter}`, {
          headers: {
            Authorization: `${this.$store.state.tokenJwt}`,
          },
        })
        .then((response) => {
          this.packets = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    openModal(data = null) {
      if (data != null) {
        this.create = false;
        this.packet = {
          id: data.id,
          name: data.name,
          description: data.description,
          price: data.price,
          image: null,
          image_formatted: data.image_formatted,
        };
      } else {
        this.create = true;
        this.packet = {
          id: null,
          name: null,
          description: "",
          price: 0,
          image: null,
          image_formatted: null,
        };
      }

      $("#modal").modal("show");

      setTimeout(() => {
        let dropifyImage = $("#dropify-image").dropify({
          messages: {
            default: "Drag and drop a image here or click",
            replace: "Drag and drop or click to replace",
            remove: "Remove",
            error: "Ooops, something wrong happended.",
          },
        });
        dropifyImage.on("dropify.beforeClear", () => {
          this.packet.image = null;
        });
      }, 200);
    },
    closeModal() {
      $("#modal").modal("hide");
    },
    changeImage() {
      var element = document.getElementById("dropify-image").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.packet.image = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    submit(create = true) {
      if (create) {
        axios
          .post(`${this.$store.state.baseUrl}tech/packet`, this.packet, {
            headers: {
              Authorization: `${this.$store.state.tokenJwt}`,
            },
          })
          .then((response) => {
            this.$swal
              .fire({
                title: "Success",
                text: response.data.message,
                icon: "success",
              })
              .then(() => {
                window.location.reload();
              });
          })
          .catch((error) => {
            this.$swal.fire({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      } else {
        axios
          .put(
            `${this.$store.state.baseUrl}tech/packet/${this.packet.id}`,
            this.packet,
            {
              headers: {
                Authorization: `${this.$store.state.tokenJwt}`,
              },
            }
          )
          .then((response) => {
            this.$swal
              .fire({
                title: "Success",
                text: response.data.message,
                icon: "success",
              })
              .then(() => {
                window.location.reload();
              });
          })
          .catch((error) => {
            this.$swal.fire({
              title: "Failed",
              text: error.response.data.message,
              icon: "error",
            });
          });
      }
    },
    deleteData(data) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `Delete ${data.name}`,
          icon: "warning",
          showCancelButton: true,
        })
        .then((response) => {
          if (response.isConfirmed) {
            axios
              .delete(`${this.$store.state.baseUrl}tech/packet/${data.id}`, {
                headers: {
                  Authorization: `${this.$store.state.tokenJwt}`,
                },
              })
              .then((response) => {
                this.$swal
                  .fire({
                    title: "Success",
                    text: response.data.message,
                    icon: "success",
                  })
                  .then(() => {
                    window.location.reload();
                  });
              })
              .catch((error) => {
                this.$swal.fire({
                  title: "Failed",
                  text: error.response.data.message,
                  icon: "error",
                });
              });
          }
        });
    },
  },
  mounted() {
    axios
      .get(`${this.$store.state.baseUrl}tech/packet`, {
        headers: {
          Authorization: `${this.$store.state.tokenJwt}`,
        },
      })
      .then((response) => {
        this.packets = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
