<template>
  <div class="bg-default">
    <NavbarAuth />
    <div class="main-content">
      <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <h1 class="text-white">Create an account</h1>
                <p class="text-lead text-white">
                  Use these awesome forms to login or create new account in your
                  project for free.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-default"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <div class="container mt--8 pb-5">
        <div
          class="modal fade"
          id="otpModal"
          tabindex="-1"
          aria-labelledby="otpLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div>
                  <div class="text-center mb-4">
                    <div class="title-modal">Verification Code</div>
                    <div style="font-size: 16px">
                      Verification Code OTP will send to your Whatsapp / Email
                    </div>
                    <div class="fw-bold mt-2" style="font-size: 18px">
                      {{ form.email }}
                    </div>
                  </div>
                  <div>
                    <div
                      class="otp d-flex confirm-input justify-content-center"
                    >
                      <input
                        type="text"
                        id="otp0"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input0"
                        @input="onChange0"
                      />
                      <input
                        type="text"
                        id="otp1"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input1"
                        @input="onChange1"
                      />
                      <input
                        type="text"
                        id="otp2"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input2"
                        @input="onChange2"
                      />
                      <input
                        type="text"
                        id="otp3"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input3"
                        @input="onChange3"
                      />
                      <input
                        type="text"
                        id="otp4"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input4"
                        @input="onChange4"
                      />
                      <input
                        type="text"
                        id="otp5"
                        class="form-control mx-2 text-center"
                        style="width: 45px"
                        v-model="otp.input5"
                        @input="onChange5"
                      />
                    </div>
                    <div style="font-size: 16px" class="text-center mt-3">
                      Don't get Verification Code? <br />
                      <span v-if="counterOtp > 0" style="opacity: 0.5"
                        ><span style="font-weight: 500; font-size: 16px"
                          >Resend Code</span
                        ></span
                      >
                      <span v-else>
                        <a
                          href="#"
                          class="text-primary"
                          style="font-weight: 500; font-size: 16px"
                          @click="resendOtp"
                          >Resend Code</a
                        >
                      </span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                      <div
                        v-if="counterOtp > 0"
                        class="px-1 py-2 border-radius text-center"
                        style="
                          opacity: 0.7;
                          font-size: 20px;
                          background-color: rgb(218 218 218);
                          width: 60px;
                        "
                      >
                        {{ counterOtp }}
                      </div>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                      <button
                        type="submit"
                        :class="`btn btn-lg w-100 ${
                          this.otp.input0 == '' ||
                          this.otp.input1 == '' ||
                          this.otp.input2 == '' ||
                          this.otp.input3 == '' ||
                          this.otp.input4 == '' ||
                          this.otp.input5 == ''
                            ? 'btn-secondary'
                            : 'btn-success'
                        } text-white`"
                        :disabled="
                          this.otp.input0 == '' ||
                          this.otp.input1 == '' ||
                          this.otp.input2 == '' ||
                          this.otp.input3 == '' ||
                          this.otp.input4 == '' ||
                          this.otp.input5 == ''
                        "
                        @click="submitOtp"
                      >
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card bg-secondary border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-muted text-center mt-2 mb-3">Sign up with</div>
                <div class="btn-wrapper text-center">
                  <a
                    href="#"
                    class="btn btn-neutral btn-icon mb-2"
                    @click="socialAuth('github')"
                  >
                    <span class="btn-inner--icon"
                      ><img
                        src="./../../../public/assets/img/icons/common/github.svg"
                    /></span>
                    <span class="btn-inner--text">Github</span>
                  </a>
                  <a
                    href="#"
                    class="btn btn-neutral btn-icon mb-2"
                    @click="socialAuth('gitlab')"
                  >
                    <span class="btn-inner--icon"
                      ><img
                        src="./../../../public/assets/img/icons/common/gitlab.png"
                    /></span>
                    <span class="btn-inner--text">Gitlab</span>
                  </a>
                  <a
                    href="#"
                    class="btn btn-neutral btn-icon mb-2"
                    @click="socialAuth('google')"
                  >
                    <span class="btn-inner--icon"
                      ><img
                        src="./../../../public/assets/img/icons/common/google.svg"
                    /></span>
                    <span class="btn-inner--text">Google</span>
                  </a>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">Or</div>
                <form
                  role="form"
                  method="post"
                  action="#"
                  @submit.prevent="submit()"
                >
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                        mb-3
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-user"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Name"
                        type="text"
                        name="name"
                        v-model="form.name"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                        mb-3
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-envelope"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Email"
                        type="email"
                        name="email"
                        v-model="form.email"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-lock-open"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Password"
                        type="password"
                        name="password"
                        v-model="form.password"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-phone"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Phone"
                        type="text"
                        name="phone"
                        v-model="form.phone"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fab fa-whatsapp"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Whatsapp"
                        type="text"
                        name="whatsapp"
                        v-model="form.whatsapp"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div
                      class="
                        input-group input-group-merge input-group-alternative
                      "
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-address-book"></i
                        ></span>
                      </div>
                      <textarea
                        name="address"
                        cols="30"
                        rows="1"
                        v-model="form.address"
                        class="form-control"
                        placeholder="Address"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div
                          class="
                            input-group
                            input-group-merge
                            input-group-alternative
                          "
                        >
                          <div class="input-group-prepend"></div>
                          <input
                            class="form-control dropify"
                            placeholder="Photo"
                            type="file"
                            id="dropify-photo"
                            name="photo"
                            @change="changePhoto()"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div
                          class="
                            input-group
                            input-group-merge
                            input-group-alternative
                          "
                        >
                          <div class="input-group-prepend"></div>
                          <input
                            class="form-control dropify"
                            id="dropify-id-card"
                            placeholder="Id Card"
                            type="file"
                            name="id_card"
                            @change="changeIdCard()"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row my-4">
                    <div class="col-12">
                      <div
                        class="
                          custom-control
                          custom-control-alternative
                          custom-checkbox
                        "
                      >
                        <input
                          class="custom-control-input check-privacy-policy"
                          id="customCheckRegister"
                          type="checkbox"
                          @input="!agree ? (agree = true) : (agree = false)"
                        />
                        <label
                          class="custom-control-label check-privacy-policy"
                          for="customCheckRegister"
                        >
                          <span class="text-muted"
                            >I agree with the
                            <a href="#!">Privacy Policy</a></span
                          >
                        </label>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn btn-primary mt-4"
                      id="submit"
                      :disabled="
                        !agree ||
                        form.name == null ||
                        form.email == null ||
                        form.password == null ||
                        form.phone == null ||
                        form.whatsapp == null ||
                        form.address == null ||
                        form.photo == null ||
                        form.id_card == null
                      "
                    >
                      Create account
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <FooterAuth />
  </div>
</template>

<script>
import $ from "jquery";
import axios from "axios";

export default {
  setup() {
    //
  },
  data() {
    return {
      counterOtp: 60,
      otp: {
        input0: "",
        input1: "",
        input2: "",
        input3: "",
        input4: "",
        input5: "",
      },
      agree: false,
      form: {
        name: null,
        email: null,
        password: null,
        role: "C",
        phone: null,
        whatsapp: null,
        address: null,
        photo: null,
        id_card: null,
      },
    };
  },
  methods: {
    onChange0() {
      if (this.otp.input0 > 1) {
        this.otp.input0 = this.otp.input0.slice(0, 1);
      }
      if (this.otp.input0.length == 1) {
        $("#otp0").next("#otp1").focus();
      }
    },
    onChange1() {
      if (this.otp.input1.length > 1) {
        this.otp.input1 = this.otp.input1.slice(0, 1);
      }
      if (this.otp.input1.length == 1) {
        console.log("mlebu");
        $("#otp1").next("#otp2").focus();
      }
      if (!this.otp.input1 || this.otp.input1 == "") {
        $("#otp1").prev("#otp0").focus();
      }
    },
    onChange2() {
      if (this.otp.input2.length > 1) {
        this.otp.input2 = this.otp.input2.slice(0, 1);
      }
      if (this.otp.input2.length == 1) {
        $("#otp2").next("#otp3").focus();
      }
      if (!this.otp.input2 || this.otp.input2 == "") {
        $("#otp2").prev("#otp1").focus();
      }
    },
    onChange3() {
      if (this.otp.input3.length > 1) {
        this.otp.input3 = this.otp.input3.slice(0, 1);
      }
      if (this.otp.input3.length == 1) {
        $("#otp3").next("#otp4").focus();
      }
      if (!this.otp.input3 || this.otp.input3 == "") {
        $("#otp3").prev("#otp2").focus();
      }
    },
    onChange4() {
      if (this.otp.input4 > 1) {
        this.otp.input4 = this.otp.input4.slice(0, 1);
      }
      if (this.otp.input4.length == 1) {
        $("#otp4").next("#otp5").focus();
      }
      if (!this.otp.input4 || this.otp.input4 == "") {
        $("#otp4").prev("#otp3").focus();
      }
    },
    onChange5() {
      if (this.otp.input5 > 1) {
        this.otp.input5 = this.otp.input5.slice(0, 1);
      }
      if (!this.otp.input5 || this.otp.input5 == "") {
        $("#otp5").prev("#otp4").focus();
      }
    },
    changePhoto() {
      var element = document.getElementById("dropify-photo").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.form.photo = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    changeIdCard() {
      var element = document.getElementById("dropify-id-card").files[0];
      const readerExhibition = new FileReader();
      readerExhibition.onload = (e) => {
        this.form.id_card = e.target.result
          .replace("data:", "")
          .replace(/^.+,/, "");
      };
      readerExhibition.onerror = function (error) {
        alert(error);
      };
      readerExhibition.readAsDataURL(element);
    },
    submit() {
      axios
        .post(`${this.$store.state.baseUrl}auth/register`, this.form)
        .then(() => {
          $("#otpModal").modal({ backdrop: "static", keyboard: false });
          $("#otpModal").modal("show");
          let countOtp = setInterval(() => {
            this.counterOtp--;

            if (this.counterOtp == 0) {
              clearInterval(countOtp);
            }
          }, 1000);
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "warning",
          });
        });
    },
    submitOtp() {
      axios
        .post(`${this.$store.state.baseUrl}auth/check-otp`, {
          email: this.form.email,
          otp:
            this.otp.input0 +
            this.otp.input1 +
            this.otp.input2 +
            this.otp.input3 +
            this.otp.input4 +
            this.otp.input5,
        })
        .then((res) => {
          this.$swal({
            title: res.data.message,
            icon: "success",
          }).then(() => {
            $("#otpModal").modal("hide");
            this.$router.push({ name: "Login" });
          });
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "warning",
          });
        });
    },
    resendOtp() {
      axios
        .post(`${this.$store.state.baseUrl}auth/resend-otp`, {
          email: this.form.email,
          otp:
            this.otp.input0 +
            this.otp.input1 +
            this.otp.input2 +
            this.otp.input3 +
            this.otp.input4 +
            this.otp.input5,
        })
        .then(() => {
          this.counterOtp = 90;
          var countOtp = setInterval(() => {
            this.counterOtp--;

            if (this.counterOtp == 0) {
              clearInterval(countOtp);
            }
          }, 1000);
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "warning",
          });
        });
    },
    socialAuth(provider) {
      axios
        .get(`${this.$store.state.baseUrl}auth/social/${provider}/redirect`)
        .then((res) => {
          window.location.href = res.data.data;
        })
        .catch((err) => {
          this.$swal({
            title: "Failed",
            text: err.response.data.message,
            icon: "error",
          });
        });
    },
  },
  mounted() {
    setTimeout(() => {
      let dropifyPhoto = $("#dropify-photo").dropify({
        messages: {
          default: "Drag and drop a photo here or click",
          replace: "Drag and drop or click to replace",
          remove: "Remove",
          error: "Ooops, something wrong happended.",
        },
      });
      dropifyPhoto.on("dropify.beforeClear", () => {
        this.form.photo = null;
      });

      let dropifyIdCard = $("#dropify-id-card").dropify({
        messages: {
          default: "Drag and drop a id card here or click",
          replace: "Drag and drop or click to replace",
          remove: "Remove",
          error: "Ooops, something wrong happended.",
        },
      });
      dropifyIdCard.on("dropify.beforeClear", () => {
        this.form.id_card = null;
      });
    }, 500);
  },
};
</script>
