<template>
  <div class="loader" style="top: 40%; left: 45%">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  setup() {
    //
  },
  data() {
    return {
      //
    };
  },
  mounted() {
    axios
      .post(
        `${this.$store.state.baseUrl}auth/social/${this.$route.params.provider}/callback`,
        {
          code: this.$route.query.code,
        }
      )
      .then((res) => {
        localStorage.setItem("token_hmn", res.data.data);

        const dataToken = jwt_decode(localStorage.getItem("token_hmn"));

        this.$store.commit("setProfile", dataToken.user);

        this.$swal({
          title: "Success",
          text: "",
          icon: "success",
        })
          .then(() => {
            switch (dataToken.user.role) {
              case "C":
                window.location.href = "/dashboard/customer/";
                // this.$router.push({ name: "Dashboard Customer" });
                break;
              case "T":
                window.location.href = "/dashboard/tech/";
                // this.$router.push({ name: "Dashboard Tech" });
                break;
              case "M":
                window.location.href = "/dashboard/marketing/";
                // this.$router.push({ name: "Dashboard Marketing" });
                break;
              case "F":
                window.location.href = "/dashboard/finance/";
                // this.$router.push({ name: "Dashboard Finance" });
                break;

              default:
                this.$router.push({ name: "Home" });
                break;
            }
          })
          .catch((err) => {
            this.$swal({
              title: "Failed",
              text: err.response.data.message,
              icon: "warning",
            });
          });
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: scale-loader 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -o-animation: scale-loader 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -moz-animation: scale-loader 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -webkit-animation: scale-loader 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
}

.loader span {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate-loader-span 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -o-animation: rotate-loader-span 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -moz-animation: rotate-loader-span 1s cubic-bezier(0.12, 0.01, 1, 1) infinite;
  -webkit-animation: rotate-loader-span 1s cubic-bezier(0.12, 0.01, 1, 1)
    infinite;
}

.loader span:nth-child(1) {
  background: #f79f1f;
  top: 0;
  left: 0;
}

.loader span:nth-child(2) {
  background: #12cbc4;
  top: 0;
  right: 0;
}

.loader span:nth-child(3) {
  background: #ed4c67;
  bottom: 0;
  left: 0;
}

.loader span:nth-child(4) {
  background: #a3cb38;
  bottom: 0;
  right: 0;
}

.loader-title {
  position: absolute;
  top: calc(50% + 118px);
  color: #ddd;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}

.loader-title::after {
  content: "|";
  display: inline-block;
  margin-left: 5px;
  animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes scale-loader {
  0%,
  100% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }
}

@-o-keyframes scale-loader {
  0%,
  100% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }
}

@-moz-keyframes scale-loader {
  0%,
  100% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }
}

@-webkit-keyframes scale-loader {
  0%,
  100% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }
}

@keyframes rotate-loader-span {
  0% {
    transform: rotate(0deg);
  }

  50%,
  100% {
    transform: rotate(90deg);
  }
}

@-o-keyframes rotate-loader-span {
  0% {
    transform: rotate(0deg);
  }

  50%,
  100% {
    transform: rotate(90deg);
  }
}

@-moz-keyframes rotate-loader-span {
  0% {
    transform: rotate(0deg);
  }

  50%,
  100% {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes rotate-loader-span {
  0% {
    transform: rotate(0deg);
  }

  50%,
  100% {
    transform: rotate(90deg);
  }
}
</style>
