<template>
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2021
            <a
              href="https://www.creative-tim.com"
              class="font-weight-bold ml-1"
              target="_blank"
              >Heles Media Network</a
            >
          </div>
        </div>
        <div class="col-xl-6">
          <ul
            class="nav nav-footer justify-content-center justify-content-xl-end"
          >
            <li class="nav-item">
              <a href="https://hmn.com" class="nav-link" target="_blank"
                >Heles Media Network</a
              >
            </li>
            <li class="nav-item">
              <a href="https://hmn.com" class="nav-link" target="_blank"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a href="http://hmn.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://hmn.com" class="nav-link" target="_blank"
                >License</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
